@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-left {
  animation: slideLeft 1s ease-out forwards;
}

.slide-right {
  animation: slideRight 1s ease-out forwards;
}

/* Define the animation */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the animation to elements with the .slide-up class */
.slide-up {
  animation: slideUp 1s ease-out forwards;
}

/* If you want to add a delay to the animation for specific elements */
.slide-up-delay {
  animation: slideUp 1s ease-out 0.5s forwards; /* 0.5s delay */
}



/* Zoom-in to zoom-out animation */
@keyframes zoomInOut {
  0% {
    transform: scale(1.2); /* Start zoomed in */
    opacity: 0; /* Start invisible */
  }
  50% {
    transform: scale(1); /* Normal size */
    opacity: 1; /* Fully visible */
  }
  100% {
    transform: scale(1); /* Normal size */
    opacity: 1; /* Fully visible */
  }
}

/* Apply this animation to elements you want to zoom */
.zoom-in-out {
  animation: zoomInOut 1s ease-out forwards;
}


/* Define zoom-in and zoom-out animations */
.zoom-in {
  animation: zoomIn 0.6s forwards;
}

.zoom-out {
  animation: zoomOut 0.6s forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}



.underlined {
  position: relative;
  margin-right: 1rem;
}
.underlined:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 7px;
  width: 100%;
  border: solid 3px orange;
  border-color: orange transparent transparent transparent;
  border-radius: 50%;
}
.small {
  font-size: 200%;
}

.navbar-toggler-icon {
background-image: url('./images/menu.png') !important;
}