/* App.css */

@keyframes slideUp {
  0% {
    transform: translateY(100%); /* Initially position content off-screen (bottom) */
    opacity: 0; /* Make it invisible */
  }
  100% {
    transform: translateY(0); /* Move content to its normal position */
    opacity: 1; /* Make content visible */
  }
}

.scroll-content {
  opacity: 0;
  transform: translateY(100%);
  animation: slideUp 1s ease-out forwards;
  transition: opacity 0.5s ease-out;
}

.scroll-content.visible {
  opacity: 1;
  transform: translateY(0);
}

p {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.scroll-content.visible p {
  opacity: 1;
}



.divig {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation: myfirst 5s linear 2s infinite alternate;
}

@keyframes myfirst {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
